{
	"presets": [
		["@babel/preset-env", {
      "debug": true,
      "targets": {
        "node": "current"
      }
    }]
	],
	"plugins": [
		"@babel/plugin-proposal-optional-chaining",
		[
			"module-resolver",
			{
				"root": [
					"./"
				],
				"alias": {
					"src": "./src"
				},
				"extensions": [
					".ios.js",
					".android.js",
					".js",
					".jsx",
					".json"
				]
			}
		]
	]
}
